#mascotte
{
    height : 180px;
}

#formulaire-inscription-main
{
    background-color : #DDD;
}

#confirm-form
{
    background-color : #ABC738;
    border : none;
    font-size : 1.4rem;
}

#confirm-form:hover
{
    background-color : green;
}