        
----------/* A RAJOUTER DANS HEADER : font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;  ---------------*/ 


/* Mettre du style */
html
{
    height : 100%;
}

body
{
    height : 100%;
    background-color : #F3F3F3;
}

header
{
    background-color : white;
}

#topbar
{
    height : 73px;
    align-items : center; 
}

#logo
{
    width : 157px;
    height : 36px;
}

header nav
{
    font-size : 1.2em;
    height : 73px;
}

header nav a
{
    text-decoration: none;
    color : black;
    padding-right : 20px;
    
}

header nav a:hover
{
    text-decoration: underline;
    color : #00B5E0;
}

#incription, #connexion
{
    border-radius : 8px; 
    background-color : #ABC738;
    border : 1px solid #ABC738;
}

#inscription
{
    color : #ABC738;
    border : 1px solid green; 
}





---------/*ASIDE*/--------


----------/*titres aside*/-------------

aside h4{
    
    font-size: 1.5rem;
    font-weight: 700; 
    padding: 2% 0;
    line-height:1.2 em;
    color: #454545;
    font-family: Montserrat,Helvetica,Arial,sans-Serif;

    
}


---------/*titres sujets forum*/----------


.forum-topic {
    width: 100%;
    color:#008cba;
    text-decoration:none;
    margin-top: 0;
        
}


.forum-topic:hover{
    text-decoration: underline;
    
}




        



.container-alsanautes-twitter{
    margin-top:5%;
    
}


.alsanautes{
    background-color: #fff;
    padding:1.2rem; 


}

.twitter{
    background-color: #fff;
     padding:1.2rem; 


}


.badge-container{
    width:10em;
   
}





/*------------------- PAGE ARTICLE ------------------- */



#container-global{
    
    max-width: 800px;
    margin-top: 2em;    
}



#container-page-article{
    
    
    background-color: #fff;
    padding:0.8em;
}




/*--------bloc gris- resultats sondage----*/

#block-gris-resultats{
    margin-top:0;
    background-color:#424242;
    border-radius:0.3em;
    color:#fff;
    padding: 1.3em;
    text-align: center;
    
}


#block-gris-resultats a{
    
    text-decoration:underline;
    color:#9E9E9E;
}


#block-gris-resultats h6{
    
    font-family: Montserrat,Helvetica,Arial,sans-Serif;
    font-size:1.3em;
    font-weight:bold;
   
}

#block-gris-resultats .actualite{
    font-size:0.5em;
    text-transform: uppercase;
    font-weight:bold;
    line-height:-0.9;
   
}



.tag-alsa {
    
    background-color: #fff;
    color:#37474F;
    font-size:0.5em;
    font-weight:bold;
    border-radius:2px;
    padding:0.4em;
    margin-left:2em;
        
}


.actualite-tag-alsa{
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.auteur{
    
    font-size:0.7em;
    color:lightgray;
}


.liens{
    font-size:0.7em;
    color:lightgray;
    
}






/*-----images et texte----*/



.texte-article p{
    
    font-size:0.7em;
    border-radius:0.3em;
    text-align:left;
    margin-top:0;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    
}



.texte-article img {
    
    text-align: center;
    
}
    
.texte-article .source span{
    color:#008cba;
    text-decoration: underline;
}


.texte-article p span{
    
    font-weight:bold;
}

img{
    text-align: center;
}

 .img-fluid {
    
    max-width: 100%;
    height:auto;
    text-align: center;
   
}












