/* Mettre du style */
html
{
    height : 100%;
}

body
{
    height : 100%;
    background-color : #F3F3F3;
}

header
{
    background-color : white;
}

#topbar
{
    height : 73px;
    align-items : center;
}

#logo
{
    width : 157px;
    height : 36px;
}

header nav
{
    font-size : 1.2em;
    height : 73px;
}

header nav a
{
    text-decoration: none;
    color : black;
    padding-right : 20px;

}

header nav a:hover
{
    text-decoration: underline;
    color : #00B5E0;
}

#incription, #connexion
{
    border-radius : 8px;
    background-color : #ABC738;
    border : 1px solid #ABC738;
}

#inscription
{
    color : #ABC738;
    border : 1px solid green;
}

.ap-mosaic-container {
    margin: 0%;
    padding: 0%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.card-columns .ap-margin-offset-at-column-start {
  margin-bottom: 0.44em;
}

.ap-footer-carte-mosaique {
    display: flex;
    justify-content: space-between;
}

.ap-card-body {
  padding: 1rem;
  padding-bottom: 0.3rem;
}

.ap-just-flex {
    display: flex;
}

.ap-just-flex > p {
    margin-left: 5%;
}

@media (min-width: 580px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .ap-extra-card {
      position: absolute;
      display: none;
      z-index: 100;
      visibility: hidden;
      height: 0;
    }
}

@media (min-width: 940px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    .ap-extra-card {
      position: relative;
      display: inherit;
      z-index: inherit;
      visibility: inherit;
      height: inherit;
    }
}
